<div class="container center">
<h2><i class="fas fa-search"></i> 検索結果</h2>
</div>

<div class="container">
<table class="table">
	<thead>
		<tr>
		<th>ユーザー</th>
		<th>タイトル</th>
		<th>エピソード</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td>
				<%= link_to user_user_path(post.user) do %>
					<%= attachment_image_tag(post.user, :profile_image, :fill, 70, 70, fallback: "no-image.jpg") %>
				<% end %>
				</td>
				<td><%= post.title %></td>
				<td><%= link_to strip_tags(post.body).truncate(30), user_post_path(post) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>