<div class="top">
	<h2 class="top-title">End of a day ...</h2>
	<p class="top-text">今日はどんな時間を過ごしますか？</p>
	<div class="top-text"><%= link_to image_tag("pen.png", size: '40x40', class: "top-link")+ " 投稿する", new_user_post_path %></div>
	<div class="top-text"><%= link_to image_tag("book.png", size: '40x40', class: "top-link")+ " 投稿を見る", user_posts_path %></div>
</div>
