<h2>トップページ</h2>

TOPの画像が入る。投稿する・探すボタンがある。

<%= link_to "投稿する", new_user_post_path %>
<%= link_to "検索する" %>

<ul>
	<li>ヘッダーのメニューはログイン前後で変えること</li>
	<li>ログイン後は再度この画面に遷移する</li>
	<li>ログインしなくても投稿一覧へ進める</li>
</ul>
