/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.header {
	display:flex;
	justify-content: center;
	font-size: 1.1em;
	a:visited { color:#333; text-decoration:none }
	width: 100%;
	z-index: 999;
	margin: 0px;
  	padding: 0px;
  	list-style-type: none;
  	position: fixed;
  	background-color: #FFFFFF;
  	height: 40px;
  	line-height: 2.5
}

ul {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 25px;
}

h2 {
	padding-top: 90px;
}

.nav-list {
	margin: 0 20px;
}

.top {
	margin-right: auto;
	margin-left: auto;
	width: 84%;
	background-image: url(top2.jpg);
	background-size: cover;
	height: 800px;
}

.top-title {
	font-family: 'Playfair Display', serif;
	color: #333;
	font-size: 4.5em;
	text-align: center;
	letter-spacing: 0.04em;

}

.top-text {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3em;
	color: #333;
	padding-top: 50px;
	text-align: center;
	letter-spacing: 0.2em;
}

.top-text2 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3em;
	color: #FFF;
	a:visited { color: #FFF; text-decoration:none }
	padding: 40px;
	margin: 40px;
	text-align: center;
	letter-spacing: 0.4em;
}

.center {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.1em;
	text-align: center;
}

.newpost {
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.edit {
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.post-icon, .mypage-icon {
	vertical-align: bottom;
}

.post, .profile-edit, .row.post-edit {
	padding: 10px;
}

.comment-form {
	margin-top: 20px;
}

.profile {
 	display: flex;
 	justify-content: center;
}

.txtwrap2 {
	margin-left: 20px;
	text-align: left;
}

.mypage-title {
	line-height: 2.5;
}

.mypage-body {
	padding-bottom: 12px;
}

.withdraw {
	margin :20px;
}

.container.personal {
	display: flex;
	flex-wrap: wrap;
}

.personal-post {
    border: solid 2px #46b8da;/*線*/
    background: #fff;
    border-radius: 10px;/*角の丸み*/
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 250px;
	height: 220px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.far.fa-comment-dots {
	font-size: 40px;
}

.personal-word {
	font-weight: bold;
	a:visited { color: #333; text-decoration:none }
	font-size: 1.5em;
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
}

.personal-word1 {
	font-weight: bold;
	padding: 10px 0 10px 0;
	line-height: 1.5;
}
.personal-word2 {
	padding: 10px 0 10px 0;
	line-height: 1.5;
	a:visited { color: #333; text-decoration:none }
}

.word-box {
    padding: 15px;
    margin: 0 auto;
    background: #fff;
    letter-spacing: 0.1em; /* 字間を広げる */
	border-radius: 10px;
	display: inline-block;
	border: solid 3px #fdc275;
	a:visited { color: #333; text-decoration:none }
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
   }

.post-comment {
	margin: 0 auto;
	width: 550px;
	text-align: left;
}

.comment-txt {
	border-bottom: medium solid #e8e7e7;
}

.comment-count {
	margin: 0 auto;
	padding: 0px 0px 10px 0px;
	width: 550px;
	text-align: left;
	font-weight: bold;
	border-bottom: medium solid #fff;
}

.simple_square_btn5 {
	width: 160px;
	padding: 0.4em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #f77e52;
	border-radius: 10px;
	font-family: 'Noto Sans JP', sans-serif;
}
.simple_square_btn5:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
}

.container.category {
	display: flex;
	margin-top: 30px;
}

.sidebar h3 {
	text-align: center;
	font-size: 1.4em;
}

.fa-book-reader {
	vertical-align: top;
}

.post-sidebar {
  height: 900px;
  font-size: 1.1em;
  a:visited { color:#333; text-decoration:none }
}

.sidebar3 ul {
	list-style: none;
	padding: 8px 0px;
	border-bottom: 2px #b99877 dotted;
	letter-spacing: 0.1em; /* 字間を広げる */
	margin: 20px 25px;
}

.post-sidebar h3 {
	text-align: center;
}

.category-sidebar {
  height: 900px;
  width: 350px;
  font-size: 1.1em;
  a:visited { color:#333; text-decoration:none }
}

.category-sidebar3 ul {
	list-style: none;
	padding: 8px 0px;
	border-bottom: 2px #b99877 dotted;
	letter-spacing: 0.1em; /* 字間を広げる */
	margin: 20px 25px;
}

.category-sidebar h3 {
	text-align: center;
}

.sidebar2 ul {
    padding: 8px 0px;
	list-style: none;
	border-bottom: 2px #b99877 dotted;
	letter-spacing: 0.1em; /* 字間を広げる */
	margin: 20px 25px;
}

.main-index {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.index {
	margin: 0px 0px 15px 0px;
}
.index li {
  position: relative;
  list-style-type: none!important;
  padding: 1em;
  margin: 0px 15px 20px 15px;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
  font-size: 1.1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  background: #fff8e8;
  border-right: solid 10px#fdc275;
}

.index li:before{
  display:inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border: solid 1.5px #f3ebe3;
  border-radius: 50%;
  margin-right: 8px;
}

.index li img {
	padding:10px;
}

.index-title {
 	a:visited { color:#333; text-decoration:none }
	color: #333;
	font-size: 1.2em;
	padding: 0px 0px 0px 60px;
	font-weight: bold;
}

.index-category {
	text-align: right;
}

.index li .index-user {
	text-align: right;
	a:visited { color:#333; text-decoration:none }
}

.pagination {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.2em;
}

/*レスポンシブ*/
@media screen and (max-width: 480px) {

	/*ハンバーガーメニュ*/
	.ham {
		position: relative;
		width: 60px;
		height: 60px;
		cursor: pointer;
		background-color: #fff;
	}
	.ham_line {
		position: absolute;
		left: 10px;
		width: 40px;
		height: 3px;
		background-color: #333333;
		transition: all 0.3s;
	}
	.ham_line1 {
		top: 15px;
	}
	.ham_line2 {
		top: 28px;
	}
	.ham_line3 {
		top: 41px;
	}
	.clicked .ham_line1 {
		transform: rotate(45deg);
		top: 20px;
	}
	.clicked .ham_line2 {
		width: 0px;
	}
	.clicked .ham_line3 {
		transform: rotate(-45deg);
		top: 20px;
	}
	.menu {
		position: fixed;
		z-index: 10;
		left: -400px;
		transition: all 0.3s;
	}
	.clicked .menu {
		left: 1px;
		overflow: hidden;
	}
	.header {
		display: block;
		line-height: 2.2;
		padding: 15px;
	    width: 43%;
	    height: 270px;
	    text-align: center;
	    background-image: url(menu.png);
	    background-size: cover;
		background-position: center;
	}
	.top {
		width: 95%;
	}
	.top-title {
		width: 100%;
		font-size: 3.5em;
	}
	.top-text {
		font-size: 1.1em;
	}
	.top-text2 {
		font-size: 0.9em;
	}
	.container.category {
		display: block;
	}
	.index {
		padding: 0px;
	}
	.btn  {
		width: 100%;
	}
	.btn-info {
		background-color: #a2cff5;
		border-color: #a2cff5;
	}
	.index-title {
		padding: 0px 0px 0px 10px;
	}
	.index-category, .index-user{
		font-size:0.8em;
	}
	.comment-txt {
		border-bottom: medium solid #e8e7e7;
		display: inline-block;
	}
	.category-sidebar {
		width: 90%;
		height: 10px;
		margin: 0 auto;
	}
	.category-sidebar h3 {
		margin-top: 50px;
	}
	.profile {
		display: block;
	}
	.mypage-title .btn {
		width: 50%;
	}
	.txtwrap2 {
		text-align: center;
		margin: 10px;
	}
	.personal-post {
		margin: 10px auto;
	}
	.edit, .newpost {
		width: 95%;
	}
}

/*管理者用ページ*/

.category-name {
	padding: 20px;
}

input#category_category_status_非掲載 {
   width: 2em;
   height: 1em;
}

input#category_category_status_掲載中 {
   width: 2em;
   height: 1em;
}

input#num_1 {
   width: 2em;
   height: 1em;
}

input#num_0 {
   width: 2em;
   height: 1em;
}

input#category_category_name {
    width: 25%;
    padding: 10px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}